schemas/inscriptions.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:import namespace="http://www.w3.org/XML/1998/namespace"/>
    <xs:element name="list">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="item" minOccurs="1" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="settlement" type="xs:string"/>
                            <xs:element name="repos" type="xs:string"/>
                            <xs:element name="desc" type="xs:string"/>
                        </xs:sequence>
                        <xs:attribute ref="xml:id" use="required"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
