schemas/inscriptions.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tei="http://www.tei-c.org/ns/1.0" targetNamespace="http://www.tei-c.org/ns/1.0" elementFormDefault="qualified">
    <xs:annotation>
        <xs:documentation>INTERIM schema for DIMEV's restricted profile of TEI listBibl/msDesc, applied to Inscriptions.xml (restructure migrating the legacy list/item structure to the model adopted for Manuscripts.xml; see issue #63).

Every record is a non-manuscript inscribed object, so msDesc/@type is REQUIRED here (unlike Manuscripts.xml, where it is optional and flags only the exceptional printed copy). Its value is drawn from a controlled vocabulary of inscription genres.

The content model mirrors Manuscripts.xml: msIdentifier (country, settlement, repository, idno, msName, altIdentifier), head, history/provenance, and additional (adminInfo, surrogates, listBibl). The lang element is omitted (no dialect-localization data is recorded for inscriptions).

It is NOT yet valid against TEI P5 (tei_all). Transitional concessions:
  - adminInfo/note: editorial residue awaiting a later curation pass.</xs:documentation>
    </xs:annotation>
    <xs:import namespace="http://www.w3.org/XML/1998/namespace"/>
    <xs:element name="listBibl">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="msDesc" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="msIdentifier">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="country" type="xs:string">
                                            <xs:annotation>
                                                <xs:documentation>The country in which the object is located (mostly UK; also Ireland, USA). Optional.</xs:documentation>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="settlement" type="xs:string">
                                            <xs:annotation>
                                                <xs:documentation>The town or place where the object is (or was) located. TRANSITIONAL: may still carry a trailing county (e.g. 'Heydon, Norfolk') pending a later split.</xs:documentation>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="repository" type="xs:string">
                                            <xs:annotation>
                                                <xs:documentation>The holding building or institution (formerly DIMEV's repos): for in-situ items the church/cathedral/chapel; for movable items the museum or gallery. May be empty where none is recorded.</xs:documentation>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="idno" type="xs:string" minOccurs="0">
                                            <xs:annotation>
                                                <xs:documentation>An accession number or other institutional identifier, where one exists (chiefly museum/gallery objects).</xs:documentation>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:choice minOccurs="0" maxOccurs="unbounded">
                                            <xs:element name="msName" type="tei:inlineText">
                                                <xs:annotation>
                                                    <xs:documentation>A conventional name for the object (e.g. 'The Pearl Sword', 'Blasphemy Window').</xs:documentation>
                                                </xs:annotation>
                                            </xs:element>
                                            <xs:element name="altIdentifier">
                                                <xs:annotation>
                                                    <xs:documentation>An alternative or former identifier; with type="former" an olim location or owner. Wraps an idno.</xs:documentation>
                                                </xs:annotation>
                                                <xs:complexType>
                                                    <xs:sequence>
                                                        <xs:element name="idno" type="xs:string"/>
                                                    </xs:sequence>
                                                    <xs:attribute name="type" type="xs:string" use="optional"/>
                                                </xs:complexType>
                                            </xs:element>
                                        </xs:choice>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="head" type="tei:inlineText" minOccurs="0">
                                <xs:annotation>
                                    <xs:documentation>A descriptive heading identifying the inscription (e.g. the person commemorated and date: 'Tomb of John Barton, Mercer (d. 1460)').</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="history" minOccurs="0">
                                <xs:annotation>
                                    <xs:documentation>Provenance and history of the object, recorded only to aid identification in past scholarship.</xs:documentation>
                                </xs:annotation>
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="provenance" type="tei:inlineText" maxOccurs="unbounded"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="additional" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="adminInfo" minOccurs="0">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="availability" minOccurs="0">
                                                        <xs:annotation>
                                                            <xs:documentation>status="unknown" marks objects untraced or of unknown present location.</xs:documentation>
                                                        </xs:annotation>
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="p" type="tei:inlineText" minOccurs="0" maxOccurs="unbounded"/>
                                                            </xs:sequence>
                                                            <xs:attribute name="status" type="xs:string" use="required"/>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="custodialHist" minOccurs="0">
                                                        <xs:annotation>
                                                            <xs:documentation>Custodial history: losses and destruction, each a custEvent (type="destroyed", "deposit", ...; when carries a year where stated). Holds 'no longer extant' / 'destroyed' notices.</xs:documentation>
                                                        </xs:annotation>
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="custEvent" maxOccurs="unbounded">
                                                                    <xs:complexType mixed="true">
                                                                        <xs:choice minOccurs="0" maxOccurs="unbounded">
                                                                            <xs:element name="hi" type="tei:highlighted"/>
                                                                            <xs:element name="mss" type="tei:msCrossRef"/>
                                                                            <xs:element name="bibl" type="tei:bibRef"/>
                                                                        </xs:choice>
                                                                        <xs:attribute name="type" type="xs:string" use="optional"/>
                                                                        <xs:attribute name="when" type="xs:string" use="optional"/>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="note" minOccurs="0" maxOccurs="unbounded">
                                                        <xs:annotation>
                                                            <xs:documentation>Editorial residue without a more specific TEI home (e.g. position within the fabric: 'on the third pier of the south arcade'). Pending a later curation pass.</xs:documentation>
                                                        </xs:annotation>
                                                        <xs:complexType mixed="true">
                                                            <xs:choice minOccurs="0" maxOccurs="unbounded">
                                                                <xs:element name="hi" type="tei:highlighted"/>
                                                                <xs:element name="mss" type="tei:msCrossRef"/>
                                                                <xs:element name="bibl" type="tei:bibRef"/>
                                                            </xs:choice>
                                                            <xs:attribute name="type" type="xs:string" use="optional"/>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="surrogates" minOccurs="0">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="bibl" maxOccurs="unbounded" type="tei:refBibl"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="listBibl" minOccurs="0">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="bibl" maxOccurs="unbounded" type="tei:refBibl"/>
                                                </xs:sequence>
                                                <xs:attribute name="type" type="xs:string" use="optional"/>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute name="type" use="required">
                            <xs:annotation>
                                <xs:documentation>The genre of the inscribed object. Controlled vocabulary.</xs:documentation>
                            </xs:annotation>
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:enumeration value="monument"/>
                                    <xs:enumeration value="glazing"/>
                                    <xs:enumeration value="graffito"/>
                                    <xs:enumeration value="architectural"/>
                                    <xs:enumeration value="object"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:attribute>
                        <xs:attribute ref="xml:id" use="required"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <!-- shared types lifted verbatim from manuscripts.xsd -->
    <xs:complexType name="msCrossRef">
        <xs:attribute name="key" type="xs:string" use="required"/>
    </xs:complexType>
    <xs:complexType name="bibRef">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="key" type="xs:string" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="highlighted">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="rend" type="xs:string" use="optional"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="refBibl">
        <xs:sequence>
            <xs:element name="ref">
                <xs:complexType>
                    <xs:attribute name="target" type="xs:anyURI" use="required"/>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="inlineText" mixed="true">
        <xs:annotation>
            <xs:documentation>Phrase-level text that may carry inline TEI hi/bibl/mss markup.</xs:documentation>
        </xs:annotation>
        <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element name="hi" type="tei:highlighted"/>
            <xs:element name="mss" type="tei:msCrossRef"/>
            <xs:element name="bibl" type="tei:bibRef"/>
        </xs:choice>
    </xs:complexType>
</xs:schema>
