schemas/manuscripts.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tei="http://www.tei-c.org/ns/1.0" targetNamespace="http://www.tei-c.org/ns/1.0" elementFormDefault="qualified">
    <xs:annotation>
        <xs:documentation>INTERIM schema for DIMEV's restricted profile of TEI listBibl/msDesc (Manuscripts.xml restructure; see issue #36).

After Phase 2/3 (content disaggregation + normalization) the bulk of each msDesc follows the TEI content model: msIdentifier (country, settlement, repository, idno, msName, altIdentifier), head, history/provenance, and additional (adminInfo notes, surrogates, listBibl catalogue records).

It is NOT yet valid against TEI P5 (tei_all). Two transitional concessions remain:
  - desc: still permitted because a handful of records (added to Manuscripts.xml after the enrichment tool was built, and so unmatched by it) keep their Phase 1 placeholder. To be disaggregated when those are reconciled.
  - lang: the LALME/LAEME dialect-localization data, deferred for separate review (Phase 4).
  - note placed under additional/adminInfo rather than a TEI-canonical home, and the legacy-desc safety-net notes, are editorial-review residue from Phase 2.
Once those are dissolved this schema should be tightened to a TEI-valid profile.</xs:documentation>
    </xs:annotation>
    <xs:import namespace="http://www.w3.org/XML/1998/namespace"/>
    <xs:element name="listBibl">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="msDesc" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="msIdentifier">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="country" type="xs:string" minOccurs="0">
                                            <xs:annotation>
                                                <xs:documentation>The holding country. Added in Phase 3 from the enrichment tool; absent on the few records still carrying Phase 1 structure.</xs:documentation>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="settlement" type="xs:string">
                                            <xs:annotation>
                                                <xs:documentation>The holding town or city, regularized per the issue #36 style guide. May be empty where no settlement is recorded.</xs:documentation>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="repository" type="xs:string">
                                            <xs:annotation>
                                                <xs:documentation>The holding institution (formerly DIMEV's repos), regularized per the issue #36 style guide.</xs:documentation>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="idno" type="xs:string" minOccurs="0">
                                            <xs:annotation>
                                                <xs:documentation>The primary shelfmark.</xs:documentation>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:choice minOccurs="0" maxOccurs="unbounded">
                                            <xs:element name="msName" type="tei:inlineText">
                                                <xs:annotation>
                                                    <xs:documentation>A conventional name or sobriquet for the volume (e.g. 'Hengwrt').</xs:documentation>
                                                </xs:annotation>
                                            </xs:element>
                                            <xs:element name="altIdentifier">
                                                <xs:annotation>
                                                    <xs:documentation>An alternative or former identifier: Summary-Catalogue numbers, other catalogue references, and (with type="former") olim shelfmarks. Wraps an idno.</xs:documentation>
                                                </xs:annotation>
                                                <xs:complexType>
                                                    <xs:sequence>
                                                        <xs:element name="idno" type="xs:string"/>
                                                    </xs:sequence>
                                                    <xs:attribute name="type" type="xs:string" use="optional"/>
                                                </xs:complexType>
                                            </xs:element>
                                        </xs:choice>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="head" type="tei:inlineText" minOccurs="0">
                                <xs:annotation>
                                    <xs:documentation>A descriptive heading or title for the volume (e.g. 'Fall of Princes').</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="history" minOccurs="0">
                                <xs:annotation>
                                    <xs:documentation>Provenance and history of the volume.</xs:documentation>
                                </xs:annotation>
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="provenance" type="tei:inlineText" maxOccurs="unbounded"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="desc" minOccurs="0">
                                <xs:annotation>
                                    <xs:documentation>TRANSITIONAL. The legacy desc placeholder, retained only on records the enrichment tool did not match (added to Manuscripts.xml after it was built). To be disaggregated when those records are reconciled, after which this element is removed.</xs:documentation>
                                </xs:annotation>
                                <xs:complexType mixed="true">
                                    <xs:choice minOccurs="0" maxOccurs="unbounded">
                                        <xs:element name="i" type="xs:string"/>
                                        <xs:element name="sup" type="xs:string"/>
                                        <xs:element name="mss" type="tei:msCrossRef"/>
                                        <xs:element name="bibl" type="tei:bibRef"/>
                                    </xs:choice>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="lang" minOccurs="0">
                                <xs:annotation>
                                    <xs:documentation>TRANSITIONAL. LALME/eLALME/LAEME dialect-localization data, carried verbatim from the legacy lang element and deferred for separate review (Phase 4). As used, this element always has at least one child element.</xs:documentation>
                                </xs:annotation>
                                <xs:complexType mixed="true">
                                    <xs:choice minOccurs="1" maxOccurs="unbounded">
                                        <xs:element name="langGrid" type="xs:string"/>
                                        <xs:element name="i" type="xs:string"/>
                                        <xs:element name="mss" type="tei:msCrossRef"/>
                                        <xs:element name="bibl" type="tei:bibRef"/>
                                        <xs:element name="place">
                                            <xs:complexType>
                                                <xs:simpleContent>
                                                    <xs:extension base="xs:string">
                                                        <xs:attribute name="country" type="xs:string" use="optional"/>
                                                        <xs:attribute name="county" type="xs:string" use="optional"/>
                                                        <xs:attribute name="town" type="xs:string" use="optional"/>
                                                    </xs:extension>
                                                </xs:simpleContent>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:choice>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="additional" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="adminInfo" minOccurs="0">
                                            <xs:annotation>
                                                <xs:documentation>Administrative, custodial, and editorial notes. Includes legacy-desc safety-net notes (type="legacy-desc") preserving uncaptured residue of the legacy desc, flagged for editorial review.</xs:documentation>
                                            </xs:annotation>
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="note" maxOccurs="unbounded">
                                                        <xs:complexType mixed="true">
                                                            <xs:choice minOccurs="0" maxOccurs="unbounded">
                                                                <xs:element name="hi" type="tei:highlighted"/>
                                                                <xs:element name="mss" type="tei:msCrossRef"/>
                                                                <xs:element name="bibl" type="tei:bibRef"/>
                                                            </xs:choice>
                                                            <xs:attribute name="type" type="xs:string" use="optional"/>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="surrogates" minOccurs="0">
                                            <xs:annotation>
                                                <xs:documentation>Digital surrogates (reproductions). Each facsimile is a bibl wrapping a ref whose target is the surrogate's URL.</xs:documentation>
                                            </xs:annotation>
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="bibl" maxOccurs="unbounded" type="tei:refBibl"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="listBibl" minOccurs="0">
                                            <xs:annotation>
                                                <xs:documentation>External descriptions. Used (type="catalogue") for links to on-line catalogue records; each is a bibl wrapping a ref whose target is the record's URL.</xs:documentation>
                                            </xs:annotation>
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="bibl" maxOccurs="unbounded" type="tei:refBibl"/>
                                                </xs:sequence>
                                                <xs:attribute name="type" type="xs:string" use="optional"/>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute ref="xml:id" use="required"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="msCrossRef">
        <xs:attribute name="key" type="xs:string" use="required"/>
    </xs:complexType>
    <xs:complexType name="bibRef">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="key" type="xs:string" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="highlighted">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="rend" type="xs:string" use="optional"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="refBibl">
        <xs:sequence>
            <xs:element name="ref">
                <xs:complexType>
                    <xs:attribute name="target" type="xs:anyURI" use="required"/>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="inlineText" mixed="true">
        <xs:annotation>
            <xs:documentation>Phrase-level text that may carry inline TEI hi/bibl/mss markup.</xs:documentation>
        </xs:annotation>
        <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element name="hi" type="tei:highlighted"/>
            <xs:element name="mss" type="tei:msCrossRef"/>
            <xs:element name="bibl" type="tei:bibRef"/>
        </xs:choice>
    </xs:complexType>
</xs:schema>
